.header {
    background-color: #1c2230;
    .container {
        @include container(85%, 0, auto);
        padding: 3rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo img {
            width: 10rem;
        }
        .nav a {
            font-family: $font-raleway;
            color: #ffffff;
            text-decoration: none;
            font-size: 1.4rem;
            margin-right: 1.5rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}