main {
    //TODO ARREGLAR ESTO, EL BACKGROUND DE LA SOMBRA ESA
    background-image: url(../../challenge-assets/images/bg-curvy-mobile.svg), linear-gradient(to top, #181f2b 0%, #181f2b 438px, #1c2230 230px, #1c2230 100%);
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: 100%;
    @media only screen and (min-width: 375px) {
        background-position: 50% 30%;
    }
    @include mq-tablet {
        background-image: url(../../challenge-assets/images/bg-curvy-desktop.svg);
        background-position: bottom;
    }
    .image-main {
        @include container(80%, 3.5rem, auto);
        display: flex;
        justify-content: center;
        img {
            min-width: 30rem;
            max-width: 50rem;
        }
    }
    .text-main {
        @include container(80%, 0, auto);
        text-align: center;
        font-family: $font-raleway;
        h1 {
            font-size: 3.2rem;
            line-height: 1.2;
        }
        p {
            font-size: 2rem;
        }
        .btn {
            font-size: 1.4rem;
            padding: 2rem 8rem;
            border-radius: 3rem;
            color: #ffffff;
            background: linear-gradient(to right, $cyan, $blue);
            border: none;
            font-weight: 700;
            margin: 2rem 0 10rem 0;
            &:hover {
                cursor: pointer;
            }
        }
    }
}